.cloud {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0px;
  padding: 0px;
  width: 100%;
  max-width: 400px;
  min-height: 250px;
  background-size: 300px 250px;
  background-image: url("../../../assets/nube.png");
  background-repeat: no-repeat;
}
.draggable {
  margin: 5px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #5eafdd;
  cursor: grab;
}

.storage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
  padding: 10px;
  width: 80%;
  max-width: 600px;
}

.storage-content {
  display: flex;
  flex-wrap: wrap;
  min-height: 50px;
  min-width: 50px;
  border: 2px dashed #aaa;
  padding: 10px;
  margin-top: 10px;
}

.hand-overlay {
  position: absolute;
  top: 350px;
  left: 180px;
  width: 40%;
  z-index: 1000;
}

.hand-overlay-menu {
  position: absolute;
  top: 150px;
  left: 120px;
  width: 20%;
  z-index: 1000;
}
