.App {
  text-align: center;
  margin-top: 20px;
}

.game-board {
  display: grid;
  grid-template-columns: repeat(6, 50px);
  grid-template-rows: repeat(6, 50px);
  gap: 5px;
  /* background-color: #ccc; */
  /* border: 1px solid #999; */
  width: 305px;
  margin: auto;
}

.cell {
  width: 50px;
  height: 50px;
  /* background-color: #111111; */
  position: relative;
  overflow: hidden;
}

.cell.cat {
  background-image: url("../../assets/buho.png");
  background-size: cover;
}

.cell.house {
  background-image: url("../../assets/arbol_casa.webp");
  background-size: cover;
}

.cell.path {
  background-color: #d9d9d9;
}

.controls {
  margin-top: 10px;
}

.controls button {
  font-size: 16px;
  margin: 0 5px;
  padding: 5px 10px;
}
